# Configuración de la Base de Datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=transactions
DB_USER=postgres
DB_PASSWORD=your_password_here

# API Keys
OPENAI_API_KEY=your_openai_api_key_here

# Configuración de la Aplicación
DEBUG=False
ENVIRONMENT=production
LOG_LEVEL=INFO

# Configuración de Seguridad
SECRET_KEY=your_secret_key_here
ALLOWED_HOSTS=.streamlit.app